<div class="posts">
    {{#each posts}}
    <div class="post">
        <h2>
            {{!-- id fed into endpoint in order to initiate editing functionality --}}
            <a href="/dashboard/edit/{{id}}">{{title}}</a>
        </h2>
        <div>
            {{content}}
        </div>
        {{/each}}

    </div>

    <div>
        <a href="/dashboard/new"><h3>Create New Post</h3></a>
    </div>