<div>
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>

<script src="/js/signup.js"></script>
