<div>
    <h2>Sign Up</h2>
    <form class="signup-form">
        <div>
            <label for="username">Username</label>
            <input id="username-signup" type="text" name="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password-signup" type="password" name="password" />
        </div>
        <button type="submit">Sign Up</button>
        <a href="/login">Already have an account?</a>
    </form>
</div>

<script src="/js/signup.js"></script>
